<!DOCTYPE html>
<html lang="en">
  <%- include ('partials/header') %>

  <body id="contact-page">
    <%- include ('partials/nav') %>
    <div class="page container-fluid">
      <div class="main-title row">
        <h1>Contact us</h1>
      </div>
      <div class="row">
        <p>
          Get in touch with us:
          <br />
          <i class="fa-solid fa-phone"></i> : (+216) 55272888
          <br />
          <i class="fa-solid fa-at"></i> :
          <a href="mailto:PluckyLooks@gmail.com"> Email Us </a>
        </p>
      </div>
    </div>
    <%- include ('partials/footer') %>
  </body>
</html>
